.side{
    background: url("../Assite/3.jpg");
    width: 100%;
    height: auto;
    max-width: 100%;
    background-size: cover;
    border-radius: 8px;
    margin-top: 10px;
    border-radius: 10px;

}
.side .overlay{
    background-color: var(--btn-color);
    opacity: .7;
    padding: 15px;
     border-radius: 10px;

}
.side .overlay h3{
    color: #fff;
    font-size: 26px;
    margin-top: 25px;
    margin-bottom: 30px;
     font-weight: bold;
     opacity: 1 !important;
}

.side .overlay li{
    color: #fff;
    font-size: 22px;
    margin: 10px 0px;
    font-weight: bold;
    opacity: 1 !important;
}
.side .overlay li svg{
    margin-right: 15px;
    opacity: 1 !important;

}
.side .overlay hr{
    width: 70%;
    height: 2px;
    color: #fff;
    background-color: #fff;
    opacity: 1 !important;

}

.side .overlay p{
    color: #fff;
    font-size: 17px;
    margin: 10px 0px;

}

.side .overlay ul li{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 10px;
    background-color: #fff;
    border-radius: 10px;
}
.side .overlay ul li svg{
    color: var(--btn-color);
    padding-left: 6px;
}

